/* Properties which are inherited by the child element*/
body{
  color:rgb(173, 87, 36);
  text-align: center;
  line-height: 2;
  font-size: large;
  font-style: italic;
}


/* Properties which are not inherited by the child element */
body{
  background-color: rgb(142, 221, 67);
  border: 2px solid rgb(10, 7, 7);
  padding: 60px;
  margin: 30px;

}